.create-workout{
    width: 500px;

}
.create-workout>form{
    padding: 10px;
    float: right;   
}

.create-workout>form>label{
    padding-left: 10px;
    margin: auto;
}

.create-workout>form>input{
    padding: 10px;
}
.box{
    margin-left: 1px;
    padding: 100px;
    padding-top: 0.5px;
    padding-bottom: 1px;
    
}